@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'katex/dist/katex.min.css';

html, body, #app { height: 100%; }
body { @apply bg-background text-text antialiased; }

/* Light theme (default) */
:root {
  --color-primary: #22C55E;
  --color-primary-pressed: #15803D;
  --color-primary-foreground: #FFF;
  --color-secondary: #10B981;
  --color-accent: #3B82F6;
  --color-accent-soft: #DBEAFE;
  --color-background: #F0F9FF;
  --color-surface: #FFF;
  --color-text: #0F172A;
  --color-text-secondary: #000000;
  --color-text-subtle: #64748B;
  --color-border: #DCEAF7;
  --color-divider: #E2E8F0;
  --color-success: #22C55E;
  --color-danger: #DC2626;
  --color-warning: #CA8A04;
  --color-inactive: #94A3B8;
  --color-inactive-foreground: #6B7280;
  --color-overlay: #000;
  --color-tabbar-bg: #FFF;
  --color-header-bg: #FFF;
  --color-input-bg: #FFF;
  --color-card-hover: #E0F2FE;
  --color-code-bg: #0F172A;
}

/* Dark theme */
.dark {
  --color-primary: #4ADE80;
  --color-primary-pressed: #22C55E;
  --color-primary-foreground: #052E16;

  --color-secondary: #34D399;
  --color-accent: #297EFF;// #60A5FA;
  --color-accent-soft: #1E3A5F;

  --color-background: #071A24;
  --color-surface: #0F2533;

  --color-text: #FFF;
  --color-text-secondary: #E2E8F0;
  --color-text-subtle: #94A3B8;

  --color-border: #1F3A4A;
  --color-divider: #243B4A;

  --color-success: #4ADE80;
  --color-danger: #F87171;
  --color-warning: #FACC15;

  --color-inactive: #475569;
  --color-inactive-foreground: #94A3B8;

  --color-overlay: #000;

  --color-tabbar-bg: #0F2533;
  --color-header-bg: #0F2533;
  --color-input-bg: #122C3A;

  --color-card-hover: #1E3A4A;
  --color-code-bg: #020617;
}

/* Thin rounded scrollbar */
// .scrollbar-thin {
//   scrollbar-width: thin;
//   scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
// }
::-webkit-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track { background: #f1f1f1; border-radius: 999px; }
::-webkit-scrollbar-thumb { background: #bdbdbd; border-radius: 999px; }
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Tab item (reserved for future styling) */
.tab-item { position: relative; }
.tab-item.is-active::before {
  content: '';
  position: absolute;
  top: 0; left: 50%;
  transform: translateX(-50%);
  width: 4rem; height: 3px;
  background-color: var(--color-primary);
  border-radius: 9999px;
}
.select-css {
  .zaui-input {
    text-align: end;
    padding-right: 0;
  }
  .zaui-input-suffix {
    margin-top: 1px;
    .zaui-icon {
      margin-right: 0;
    }
  }
}
